*.o
**/Makefile

COPYING
Makefile.in
X48
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
romdump/Makefile.in
rpm/x48.spec
src/.deps/
src/Makefile.in
src/checkrom
src/dump2rom
src/mkcard
src/x48
src/x48.man
stamp-h1
